$body-font-family = Avenir, 'Roboto', sans-serif;
$heading-font-family = Avenir, 'Roboto', sans-serif;
.application {
    font-size: 16px;
}

// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
